<header>
    <h1>Tequila Bar</h1>
    <ul>
        <a href="/home">Home Page</a>
        <a href="/history">Compay History</a>
        <a href="/contact">Contact Us</a>
        <a href="/links">Links</a>
        <a href="/past">Past Work</a>
        <a href="/staff">Staff list</a>
    </ul>
</header>

<!-- this adds a header to every page, need it for nav bar on our project -->