<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <!-- nav bar -->
        <header>
            <%- include ('./partials/navHeader.ejs') %>
        </header>
    </div>   
        <!-- main -->
        <main>
            <h1>Company Contact</h>
            <ul>
                <% for(let i=0; i < Staff.length; i++) { %>
                    <li>
                        <h2><%= Staff[i].Name</h2>
                        <h2>Past projects: <%= Staff[i].Contact %>
                        </h2>
                        <h3>Price: $<%= Staff[i].Email %>
                        </h3>
                    </li>
                    <% } %>
            </ul>
        </main>
    
</body>

</html>