<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <!-- nav bar -->
        <header>
            <%- include ('./partials/navHeader.ejs') %>
        </header>
        <!-- main -->\
        <main>
            <h1>Contact</h>
            <ul>
                <% for(let i = 0; i < staff.length; i++) { %>
                    <li>
                        <a href="/staff/<%=i%>"><%= staff[i].name %></a>
                    </li>
                <% } %>
            </ul>
        </main>
    </div>
</body>

</html>