<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <!-- nav bar -->
        <header>
            <%- include ('./partials/navHeader.ejs') %>
        </header>
    </div>
    <!-- main -->
    <main>
        <h1>Welcome To </h1>
            <P>
                Welcome one and all. take a look around and let us know what impossible dream we can make a reality.
            </P>
    </main>
    
</body>
</html>