<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div>
        <!-- nav bar -->
        
    <header>
        <%- include ('./partials/navHeader.ejs') %>
    </header>
    </div>
        <!-- main -->
        <main>
            <h1>Company Contact</h1>
                <ul>
                    <li>
                        <h2>Company Email</h2>
                        <p>first.last@gmail.com</p>
                    </li>
                    <li>
                        <h2>Company Phone Number</h2>
                        <p>123-465-1234</p>
                    </li>
                    <li>
                        <h2>Company address</h2>
                        <p>1234 West st, klemop, PA, 50317</p>
                    </li>
                </ul>
        </main>
    
</body>

</html>