<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <!-- nav bar -->
        
    <header>
        <%- include ('./partials/navHeader.ejs') %>
    </header>
    </div>
        <!-- main -->
        <main>
            <h1>Company Contact</h1>
                <ul>
                    <li>
                        <h2>Company Email</h2>
                        <p>first.last@gmail.com</p>
                    </li>
                    <li>
                        <h2>Company Phone Number</h2>
                        <p>123-465-1234</p>
                    </li>
                    <li>
                        <h2>Company address</h2>
                        <p>1234 West st, klemop, PA, 50317</p>
                    </li>
                </ul>
        </main>
    
</body>

</html>