<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div>
        <!-- nav bar -->
        <header>
            <%- include ('./partials/navHeader.ejs') %>
        </header>
    </div>
    <!-- main -->
    <main>
        <div>
            <h1>Company History</h1>
                <p>We were founded by two sailors,(Bailey and Sydney) with one mission in mind, to make the impossible possible. founded in 1842, after the founders invented the infamous time machine, they set up base in the americas and started working with anyone who wanted something that everyone thought was impossible. Today we all know about their most impressive project, the unicorn. Our mission focus is to continue making the impossible possible and bring it to your front door.
                </p>
        </div>

    </main>
</body>

</html>