<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <div>
        <!-- nav bar -->
        <header>
            <%- include ('./partials/navHeader.ejs') %>
        </header>
    </div>
    <!-- main -->
    <main>
        <h1>Welcome To </h1>
            <P>
                Welcome one and all. take a look around and let us know what impossible dream we can make a reality.
            </P>
    </main>
    
</body>
</html>
