<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- Naviagtion Bar -->
    <header>
        <%- include ('./partials/navHeader.ejs') %>
    </header>
    <!-- Main -->
    <h1>Links Page</h1>
    <ul>
        <% for(let i = 0; i < Link.length; i++) { %>
            <li>
                <a href="/links/<%=i%>">
                    <%= Link[i] %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>