<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our Past</h1>
    <ul>
        <% for(let i = 0; i < Past.length; i++) { %>
            <li>
                <h2>Past projects: <%= Past[i].Project %></h2>
                <h3>Price: $<%= Past[i].Price %></h3>
                <h3>Timeframe to complete: <%= Past[i].Timeframe %></h3>
            </li>
        <% } %>
    </ul>
</body>
</html>